langchain
langchain-core
langchain-groq
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-mistralai
langchain-ollama
langchain-huggingface
langchain-community
langgraph
langsmith
langserve[all]
streamlit
fastapi
uvicorn
pydantic
sse_starlette
tiktoken
python-dotenv
sentence-transformers
ipykernel
transformers
jupyter
ipywidgets
tqdm
langchain-chroma>=0.1.2
faiss-cpu
langchain-pinecone
langchain-mongodb 
pymongo
langchain-qdrant
langchain-weaviate
pypdf
jq
langchain-text-splitters
ddgs
youtube_search